In [2]:
import pandas as pd
gurl = "https://docs.google.com/spreadsheets/d/1QyRJTNd1eIOxjQXzOkhHnAfEvmZGTIix45fF24ylfck/gviz/tq?tqx=out:csv&sheet=confession"
data = pd.read_csv(gurl)

In [3]:
data.tail()

,Name,dept,year,confession
35,Mezu‚ù§Ô∏è,Not want to mention,1.0,I love your smile Mezbin ‚ù§Ô∏è
36,Mezu‚ù§Ô∏è,Not want to mention,1.0,I love your smile Mezbin ‚ù§Ô∏è
37,Mansi Patel,Chemistry,3.0,Mansi I am your friend.. who wants to tell u t...
38,komal,Computer,4.0,i need your yesüòé
39,Sanjana rajput,BBA,1.0,Oo apna attitude apne pass rakh na ok \r\nHame...

In [3]:
personNum = 8
namec = data["Name"][personNum]
deptc = data["dept"][personNum]
yearc = int(data["year"][personNum])
confessionc = data["confession"][personNum]

ValueError: cannot convert float NaN to integer

In [4]:
namec

'naam nahi batana'

In [6]:
deptc

'FALSE'

In [7]:
str = """        
<div class=\"row\">

    <div class=\"col s12 m6 l6\">

        <div class=\"card blue\">

            <div class=\"card-content white-text\">

                <span class=\"card-title\">To: {} </span>
                    <span>Department: {}</span><br>
                        <span>Year: {}</span>
                            <p>Confession:{}</p>
            </div>
        </div>
    </div>

""";

In [8]:
str = str.format(namec,deptc,yearc,confessionc)

NameError: name 'yearc' is not defined

str

In [ ]:
f = open("view.html", mode="r", encoding="utf-8")
contents = f.readlines()
f.close()

contents.insert(65, str)

f = open("view.html", mode="w", encoding="utf-8")
contents = "".join(contents)
f.write(contents)
f.close()